<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
	<%- include head.ejs %>
	<%- include style.ejs %>

	</style>
</head>

<body>
	<%- include header.ejs %>

	
	<div class="ui container">
	
	

	<h3 class="ui center aligned header">وارد شوید</h3>

	<div class="ui <%if (message) {%><%=  message.alert  %><%}else{%>positive<% } %> message" style="display:<%if (message) {%>visible<%}else{%>none<% } %>;">
		<div class="header">
			<%if (message) {%><%=  message.header  %><%}else{%><% } %>
		</div>
		<p>
			<%if (message) {%><%=  message.body  %><%}else{%><% } %>
		</p>
	</div>

		<form class="ui form" action="/" method="post">
			<div class="field">
				<div class="field">
					<input type="text" name="phoneNumber" placeholder="موبایل">
				</div>
				<div class="field">
					<input type="password" name="password" placeholder="رمز عبور">
				</div>
			</div>
			<div class="ui primary submit button" tabindex="0">ورود</div>
			<div class="ui error message"></div>
		</form>
	</div>

	<%- include footer.ejs %>

	<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	 crossorigin="anonymous"></script>
	<script src="https://cdn.rtlcss.com/semantic-ui/2.2.6/semantic.min.js" integrity="sha384-kZT+CItOKWHYL+Rz37W2NEz60Pu2JJJ8wgzq+82VWsi3QM53eNFzQJZqzhPuyo63"
	 crossorigin="anonymous"></script>
	<script>
		$(document).ready(function () {
			function updateValidation(emailEnabled) {
				$('.ui.form').form({
					fields: {
						phone: {
							identifier: 'phoneNumber',
							rules: [
								{
									type: 'empty',
									prompt: 'لطفا شماره موبایل خود را وارد کنید'
								},
								{
									type: 'regExp[/^[0-9]*$/]',
									prompt: 'لطفا شماره موبایل خود را با ارقام لاتینن وارد کنید'
								},
								{
									type: 'exactLength[11]',
									prompt: 'شماره موبایل باید ۱۱ رقم باشد'
								},
								{
									type: 'regExp[/^09[0-9]*$/]',
									prompt: 'شماره موبایل باید با ۰۹ آغاز شود'
								},
							]
						},
					}
				})
			}

			updateValidation(false)
			$('#notify-via-email').change(function () {
				if (this.checked) {
					updateValidation(true)
				} else {
					updateValidation(false)
				}
			});
		});

	</script>
</body>

</html>